{{ define "main" }}

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-2.jpg">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-1.jpg">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-3.jpg">

	</div>

	<div class="pavi-main-margin">

		<div class="pavi-main-font pavi-text-center pavi-paragraph">
			Dance rehearsals are tedious.
		</div>

		<div class="pavi-font pavi-text-center">
			Running to and fro during rehearsals to play, pause, or seek track, is a <span class="pavi-font-underline">hassle</span>.
		</div>

		<div class="pavi-font pavi-text-center pavi-main-margin">
			Tempo takes the <span class="pavi-font-underline">tedious out of rehearsals</span>.
		</div>

	</div>

	<div class="pavi-divider"></div>

	<div>

		<div class="pavi-main-font pavi-text-center pavi-main-margin">
			Tempo is an iOS app to assist dancers with their rehearsals.
		</div>

		<ul class="pavi-ul-circle pavi-font pavi-display-table pavi-margin-center">
			<li><span class="pavi-font-underline">Import</span> playlists from Spotify, Apple Music or Youtube. </li>
			<li><span class="pavi-font-underline">Split</span> track into sections.</li>
			<li>Use <span class="pavi-font-underline">voice commands</span> to play, pause or seek track.</li>
		</ul>

	</div>

	<div class="pavi-main-margin pavi-text-center">
		<img class='pavi-gif' src="{{ $.Site.BaseURL }}images/portfolio/tempo/gif/pavi-dance.gif">
	</div>

	<div class="pavi-font pavi-paragraph">
		To deliver flawless performances, dancers rehearse meticulously.
	</div>

	<div class="pavi-divider"></div>
	<h2>Thought Process</h2>

	<div class="pavi-font pavi-paragraph">
		Coming from a family of professional dancers, I decided to tackle a problem they experience.
	</div>

	<table class="pavi-table-border pavi-font">
	    <tr>
	        <td>Initial Assumption</td>
	        <td>Dancers have a hard time connecting with each other</td>
	    </tr>
	    <tr>
	        <td>Magical Solution</td>
	        <td>
	        	A social platform
	        </td>
	    </tr>
	</table>


	<div class="pavi-font pavi-paragraph">
		However, after gorging through user research I discovered that dancers do not have this problem. Facebook and Instagram have already covered that.
	</div>

	<div class="pavi-font pavi-paragraph">
		After speaking to more dancers, it helped me understand that their problems vary from one to another. I was confused and didn’t know where else to look.
	</div>

	<div class="pavi-divider"></div>
	<h2>Vitamin or Painkiller</h2>

	<div class="pavi-font pavi-paragraph">
		Professional Dancers put a lot of time and effort into rehearsals. take their rehearsals seriously. As most performers are extremely busy, they try to make the most of their rehearsal time together. They want to improve the overall quality of performance.
	</div>

	<div class="pavi-font pavi-paragraph">
		I wanted the solution to be a painkiller. A vitamin is something nice to have, a good supplement just like social media. A painkiller is what dancers will reach out for when they are stressed.
	</div>

	<div class="pavi-divider"></div>
	<h2>The Hidden Pain Point</h2>

	<div class="pavi-font pavi-paragraph">
		I did not find my problem through user research, it actually required careful observation of the dancer’s day-to-day activity. A major waste factor was when the instructor had to stop dance practice to interact with the music player.
	</div>

	<div class="pavi-font pavi-paragraph">
		During rehearsals, steps are taught or learned in blocks, this is the best way that dancers absorb the routine.
	</div>

	<div class="pavi-font pavi-paragraph">
		Challenging sections of a song may be learned at a slower pace. Professional performers will rehearse this part repetitively to perfection.
	</div>

	<div class="pavi-divider"></div>
	<h2>A ha!</h2>

	<div class="pavi-font pavi-paragraph">
		What if dancers could use voice commands to play and pause their track?
	</div>

	<div class="pavi-divider"></div>
	<h2>Research</h2>

	<div class="pavi-font pavi-paragraph">
		Currently, there are several on-demand streaming services available for music. Music apps such as: Spotify, Deezer, and Soundcloud are ruling the market. However, none of these apps have a voice command feature. One such app that did have this feature was Soundhound.
	</div>

	<div class="pavi-font pavi-paragraph">
		Soundhound did well with introducing voice commands, and allowing users to access their Spotify playlist. However, there were several complaints on the performance and UI. I decided to take this into consideration while building the prototypes.
	</div>

	<div class="pavi-font pavi-paragraph">
		Keeping the initial solution in mind, I thought...
	</div>

	<div class="pavi-font pavi-paragraph">
		What could further ease the rehearsal process?
	</div>

	<div class="pavi-font pavi-paragraph">
		Based on the book Talent is Overrated by Geoff Colvin, what separates good performers and world-class performers lies in how they practice. Good performers practice the entire routine repeatedly while world-class performers identify and focus their practice in the areas they are weak in.
	</div>

	<div class="pavi-font pavi-paragraph">
		Dancers who emulate the habit of focusing their practice towards the challenging parts of the routine end up spending a significant amount of time adjusting the music player.
	</div>

	<div class="pavi-divider"></div>
	<h2>A ha! #2</h2>

	<div class="pavi-font pavi-paragraph">
		What if users could split their tracks to practice segments?
	</div>

	<div class="pavi-divider"></div>
	<h2>User Persona</h2>

	<a class="pavi-anchor-remove" href="{{ $.Site.BaseURL }}images/portfolio/tempo/persona-shivakar.jpg">
		<img class='pavi-image pavi-persona-image'
			src="{{ $.Site.BaseURL }}images/portfolio/tempo/persona-shivakar.jpg">
	</a>

	<div class="pavi-divider"></div>
	<h2>SWOT Analysis</h2>

	<table class="pavi-table-border pavi-font pavi-paragraph">
	    <tr>
	        <td class="pavi-table-header-border"><b>Strength</b></td>
	        <td>
		        Voice commands and track marking tool.
		    </td>
	    </tr>
	    <tr>
	        <td class="pavi-table-header-border"><b>Weakness</b></td>
	        <td>
	        	Lack of reputation and brand awareness.
	        </td>
	    </tr>
	    <tr>
	        <td class="pavi-table-header-border"><b>Opportunity</b></td>
	        <td>
	        	Non-tech savvy users should be able to use the product.
	        </td>
	    </tr>
	    <tr>
	        <td class="pavi-table-header-border"><b>Threat</b></td>
	        <td>
	        	Established players entering the market.
	        </td>
	    </tr>
	</table>

	<div class="pavi-divider"></div>
	<h2>Introducing Tempo</h2>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-1.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		Tempo is a music assistant for dancers and choreographers. It allows them to use voice commands and segment their tracks, so they can completely focus on their rehearsals.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/playlists.jpg">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/spotify-playlist.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		Users can directly import their rehearsal tracks from Spotify, Youtube or Apple Music playlists.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-1.gif">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-2.gif">

	</div>

	<div class="pavi-font pavi-paragraph">
		Voice commands can be used to play, pause, rehearsal track. Suggestions for voice commands are available for users that need assistance.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/slicer/slicer-2.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		Users can mark a specific section of the track that they wish to rehearse multiple times and cue it at the time of practice. The view is also available in the music player mode.
	</div>

	<div class="pavi-divider"></div>
	<h2>Branding</h2>

	<div class="pavi-font pavi-paragraph">
		The vision for Tempo was to be an assistant to dancers, and not a typical on-demand music streaming service. I had to remind myself of this consistently throughout the journey of this project as I wanted to add more features that doesn't address the problems I've identified.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/moodboard.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		My inspiration for colours came from a concert I attended.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/style-tile.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		I wanted to use dark tones with hints of neon glow to bring a modern dance feel.
	</div>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/name/naming.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		It didn’t take too long to come up with a name.
	</div>

	<div class="pavi-font pavi-paragraph">
		Dance + Music
	</div>

	<div class="pavi-font pavi-paragraph">
		Tempo is a term used in both.
	</div>


	<div class="pavi-font pavi-paragraph">
		However, the logo was a challenge. I was trying to keep it close to the brand and not make it too detailed. It should be something people will easily remember and relate to, similar to Sony and Spotify.
	</div>

	<div class="pavi-divider"></div>
	<h2>User Flows</h2>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/userflow/userflow.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		I had several iterations of the user flow, and revisions were consistently done throughout this project. It was important that the flow would not confuse the user. I specifically wanted a smooth onboarding, to train the user to be comfortable and not thrown into darkness. My onboarding handholds the user through their first experience.
	</div>

	<div class="pavi-divider"></div>
	<h2>Wireframes</h2>

	<div class="pavi-main-flex-container">

		<img class='pavi-main-image'
		src="{{ $.Site.BaseURL }}images/portfolio/tempo/prototype/paper-prototype.jpg">

	</div>

	<div class="pavi-font pavi-paragraph">
		I maximized the use of paper prototypes and used sticky notes as drop down menus. It was quick, easy to iterate and test with users. After several user tests, feedback and revisions, I finally decided to push things forward into hi-fidelity.
	</div>

	<div class="pavi-margin-center pavi-text-center">
		<iframe width="438" height="930" src="//invis.io/QEEEACB8G" frameborder="0" allowfullscreen></iframe>
	</div>


	<div class="pavi-divider"></div>
	<h2>The Hook</h2>

	<table class="pavi-table-border pavi-font pavi-paragraph">
	    <tr>
	        <td>External</td>
	        <td>
		        Word-of-mouth, ads
		    </td>
	    </tr>
	    <tr>
	        <td>Internal</td>
	        <td>
	        	Rehearse without breaking the flow
	        </td>
	    </tr>
	</table>

	<div class="pavi-divider"></div>
	<h2>Action</h2>

	<div class="pavi-font pavi-paragraph">
		All you need to do is talk to Tempo.
	</div>

	<table class="pavi-table-border pavi-font pavi-paragraph">
	    <tr>
	        <td>Open App – add song/playlist – command app</td>
	    </tr>
	    <tr>
	        <td>Open App – add song/playlist – mark song – command app</td>
	    </tr>
	</table>

	<div class="pavi-divider"></div>
	<h2>Variable Rewards</h2>

	<div class="pavi-font pavi-paragraph">
		Rewards of Self - the need to be successful in their performances and ease rehearsal process.
	</div>

	<div class="pavi-divider"></div>
	<h2>Investment</h2>

	<div class="pavi-font pavi-paragraph">
		Users will invest time in marking their tracks and being efficient in rehearsals. Frustration will decrease and they can master their performances effectively.
	</div>

	<div class="pavi-divider"></div>
	<h2>Failures</h2>

	<div class="pavi-font pavi-paragraph">
		<ul class="pavi-ul-numbered">
			<li>
				I first had 3 features on the bottom navigation bar. However, it seemed redundant and confusing to have a separate player and marker tab. It would make more sense to access the marker tool while the track is playing. This was minimized to to 2 icons.
			</li>
			<li>
				The marker tool was originally meant to be a splice. Discussing with my mentor (Ahmad), I later understood that with a splice tool, the problem of organizing splices would arise. Hence, I used inspiration from an app, Traktr, and decided on a marker tool that will allow the users to cue their music

			</li>
		</ul>
	</div>

	<div class="pavi-divider"></div>
	<h2>Future Considerations</h2>

	<div class="pavi-font pavi-paragraph">
		<ul class="pavi-ul-numbered">
			<li>Integration of Siri’s API into the voice recognition part of Tempo.</li>
			<li>Countdown and having the app respond to dancer, similar to how a choreographer uses cues.</li>
		</ul>
	</div>

	<div class="pavi-divider"></div>
	<h2>Resources</h2>

	<div class="pavi-font pavi-paragraph">

		<ul class="pavi-ul-numbered">
			<li><a target="_blank" href="https://www.amazon.ca/Hooked-How-Build-Habit-Forming-Products-ebook/dp/B00HJ4A43S">Hooked by Nir Eyal</a></li>
			<li><a target="_blank" href="https://www.amazon.ca/Talent-Overrated-Separates-World-Class-Performers/dp/1591842948">Talent is Overrated by Geoff Colvin</a></li>
			<li><a target="_blank" href="https://www.amazon.com/Oxford-Handbook-Dance-Reenactment-Handbooks/dp/0199314209">The Oxford Handbook of Dance and Reenactment by Mark Franko</a></li>
			<li>Mentors (<a target="_blank" href="http://www.ammad.design/">Ammad</a>, <a target="_blank" href="https://ahmadkadhim.com/">Ahmad</a>, <a target="_blank" href="http://www.patrykadamczyk.com/">Patryk</a>, <a target="_blank" href="http://dakodareid.com/">Dakoda</a>)</li>
		</ul>
	</div>

{{ end }}
