{{ define "main" }}

<div class='pavi-portfolio-sticky-header pavi-text-center'>

    <div class='pavi-text-center pavi-font-family pavi-portfolio-header-margin'>
        <span class='pavi-font-underline pavi-portfolio-header-font'>Tempo</span>
    </div>

    <div class='pavi-text-center'>

        <a title='Current Tab' class='pavi-active-tab'>Pitch</a>

        &nbsp;

        |

        &nbsp;

        <a href='{{ $.Site.BaseURL }}portfolio/tempo/process'>Process</a>

    </div>

</div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-1.jpg'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/intro/tempo-main-1.jpg'>
    </a>

</div>

<div>

    <div class='pavi-main-font pavi-text-center pavi-main-margin'>
        Tempo is an iOS app to assist dancers with their rehearsals.
    </div>

    <ul class='pavi-ul-circle pavi-font pavi-display-table pavi-margin-center'>
        <li><span class='pavi-font-underline'>Import</span> playlists from Spotify, Apple Music or Youtube.</li>
        <li><span class='pavi-font-underline'>Split</span> track into sections.</li>
        <li>Use <span class='pavi-font-underline'>voice commands</span> to play, pause or seek track.</li>
    </ul>

</div>

<div class='pavi-divider'></div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/playlists.jpg'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/playlists.jpg'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/spotify-playlist.jpg'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/playlist/spotify-playlist.jpg'>
    </a>

</div>

<div class='pavi-font pavi-paragraph'>
    Users can directly import their rehearsal tracks from Spotify, Youtube or Apple Music playlists.
</div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-1.gif'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-1.gif'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-2.gif'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/voice/voice-2.gif'>
    </a>

</div>

<div class='pavi-font pavi-paragraph'>
    Voice commands can be used to play, pause, rehearsal track. Suggestions for voice commands are available for users
    that need assistance.
</div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr.png'>
        <img class='pavi-main-image pavi-image-width-full'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr.png'>
    </a>

</div>

<div class='pavi-font pavi-paragraph'>
    Users can mark a specific section of the track that they wish to rehearse multiple times and cue it at the time of
    practice. The view is also available in the music player mode.
</div>

<div class='pavi-divider'></div>

<div class='pavi-margin-center pavi-text-center'>

    <a target='_blank' href='https://invis.io/G7EEACABJ'

       style='border: none'
       title='Tempo Project'>
        <img style='width: 100%; max-width: 250px'
             src='{{ $.Site.BaseURL }}images/portfolio/tempo/tempo-intro.png'
             alt='Tempo'/>
    </a>
    <div class='pavi-font' style='margin-bottom: 50px'>
        Click the phone for an interactive prototype.
    </div>

</div>

{{ end }}
