{{ define "main" }}


<div class="pavi-portfolio-sticky-header">

    <div class="pavi-text-center pavi-font-family pavi-portfolio-header-margin">
        <span class="pavi-font-underline pavi-portfolio-header-font">Tempo</span>
    </div>

    <div class="pavi-text-center">

        <a href="{{ $.Site.BaseURL }}portfolio/tempo/pitch">Pitch</a>

        &nbsp;

        |

        &nbsp;

        <a title="Current Tab" class="pavi-active-tab">Process</a>

    </div>

</div>

<div class="pavi-main-font">Problem</div>

<div class="pavi-font pavi-paragraph">
    Coming from a family of professional dancers, I decided to tackle a problem they experience.
</div>

<table class="pavi-table-border pavi-font">
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Initial Assumption</td>
        <td>Dancers have a hard time connecting with each other</td>
    </tr>
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Magical Solution</td>
        <td>
            A social platform
        </td>
    </tr>
</table>

<div class="pavi-font pavi-paragraph">
    I discovered that dancers do not have this problem after conducting a few user interviews, as <span
        class="pavi-font-underline">Facebook</span> and <span class="pavi-font-underline">Instagram</span> already
    covered that.
</div>

<div class="pavi-font pavi-paragraph">
    Professional dancers expend time and effort into rehearsals.
</div>

<div class="pavi-font pavi-paragraph">
    I wanted the solution to be a <span class="pavi-font-underline">painkiller</span> and not a vitamin like social
    media. A painkiller is what dancers will
    reach out for when they are <span class="pavi-font-underline">stressed</span>. The 2 major pain points I discovered
    from careful observation of <span class="pavi-font-underline">rehearsals</span> was:
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-numbered">
        <li>
            Disruption of rehearsal flow to interact with music player
        </li>
        <li>
            Time spent rehearsing sections of tracks that are difficult to master
        </li>
    </ul>
</div>

<div class="pavi-main-margin pavi-text-center">
    <img class='pavi-gif' src="{{ $.Site.BaseURL }}images/portfolio/tempo/gif/group-dance.gif">
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Users & Audience</div>

<div class="pavi-font pavi-paragraph">
    The target users of Tempo are <span class="pavi-font-underline">professional dancers</span> who take part in <span
        class="pavi-font-underline">focused rehearsals</span>. They are heavy users of
    Spotify, Youtube and Apple Music, ideally they will prefer something that feels similar to those experiences, and
    <span class="pavi-font-underline">heavily mobile focused</span>.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Role</div>

<div class="pavi-font pavi-paragraph">
    I coordinated and led all design processes, this includes: user research, competitive analysis, user flows,
    information architecture, user task flows, interaction, visual, branding, product and prototyping. I engaged in
    interviews, focus groups and observations in order to address user behaviours and practices.
</div>

<a class="pavi-anchor-default" title="Enlarge" target="_blank"
   href="{{ $.Site.BaseURL }}images/portfolio/tempo/userflow/process-flow.jpg">
    <img class='pavi-image pavi-image-width-full'
         src="{{ $.Site.BaseURL }}images/portfolio/tempo/userflow/process-flow.jpg">
</a>

<div class="pavi-divider"></div>

<div class="pavi-main-font">User Research</div>

<div class="pavi-font pavi-paragraph">
    I began by conducting 10 user interviews with participants ranging between 20 and 60 years of age. The questions
    were focused
    around general pain points that dancers had:
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-numbered">
        <li>
            <span class="pavi-font-underline">What is your day like?</span>
        </li>
        <li>
            What technology do you use throughout the day?
        </li>
        <li>
            What tech do you use while dancing?
        </li>
        <li>
            What websites or apps do you use for dance?
        </li>
        <li>
            Where do you go to find events, updates?
        </li>
        <li>
            <span class="pavi-font-underline">What are your challenges as a dancer?</span>
        </li>
        <li>
            How do you meet other dancers in your community?
        </li>
        <li>
            How do you initiate collaborations?
        </li>
        <li>
            How do you decide someone is a good dancer?
        </li>
    </ul>
</div>

<div class="pavi-font pavi-paragraph">
    Their problems varied between <span class="pavi-font-underline">coordinating practices</span> and <span
        class="pavi-font-underline">perfecting movements/expressions</span>. To understand further, I
    spent 2 days shadowing dancers in their regular activities. The highest observed stress level was during <span
        class="pavi-font-underline">rehearsals</span>.
    I wanted to take a closer look by assembling target users and observing their rehearsal strategy.
</div>

<div class="pavi-font pavi-paragraph">
    As most performers are extremely busy, they try to maximize their rehearsal time together. They want to improve the
    <span class="pavi-font-underline">overall quality</span> of performance.
</div>

<div class="pavi-font pavi-paragraph">
    During rehearsals, <span class="pavi-font-underline">steps are taught and learned in blocks</span>, this is the best
    way that dancers absorb the routine.
    Challenging sections of a song may be learned at a slower pace. Professional performers will <span
        class="pavi-font-underline">rehearse this part
    repetitively</span> to perfection.
</div>

<div class="pavi-font pavi-paragraph">
    Majority of dancers use <span class="pavi-font-underline">Spotify</span> and <span class="pavi-font-underline">Youtube</span>
    to play their music during rehearsals.
</div>

<div class="pavi-font pavi-paragraph">
    A significant time waste factor was when the instructor had to <span class="pavi-font-underline">stop the dance practice to interact with the music player</span>.
</div>

<div class="pavi-font pavi-paragraph">
    Based on the user research, I created my user personas.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/shivakar-persona.jpg">
        <img class='pavi-image pavi-image-width-persona'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/shivakar-persona.jpg">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Solution</div>

<div class="pavi-font pavi-paragraph">I focused on creating an MVP that would help dancers with these 2 problems.</div>

<div class="pavi-font pavi-paragraph">A lot of people have turned to Siri, Google Home and Alexa to reduce their
    physical interactions. These existing technologies are unable to connect to your personal music playlists and cue
    them on request. So this made me think about using <span class="pavi-font-underline">voice commands to cue tracks on a music player</span>.
</div>

<div class="pavi-font pavi-paragraph">In order to address routine rehearsals, I considered using <span
        class="pavi-font-underline">markers</span> to tag sections of a track to allow users to break their music into
    sections.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Competitive Analysis</div>

<div class="pavi-font pavi-paragraph">
    I looked into several rehearsal and music assistant apps, such as Go Music+, Deezer, Spotify and analysed the
    customer reviews. One that stood out was <span class="pavi-font-underline">Soundhound</span>. I used this app for 2
    months to understand the interface and user experience. There was no <span
        class="pavi-font-underline">onboarding</span> process, and the <span
        class="pavi-font-underline">interface</span> can be very confusing for someone who isn’t tech savvy. However a
    lot of customers liked the ability to connect to their spotify list from soundhound. Most of these
    apps had <span class="pavi-font-underline">tool tips</span>, which were very helpful for the users, so I made sure
    to implement that for Tempo.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/competitors.jpg">
        <img class='pavi-image pavi-image-width-full'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/competitors.jpg">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">User Flow</div>

<div class="pavi-paragraph pavi-font">I mapped out the user flows based on the data collected. During this time, I had
    some prospective users go through the flow to identify any loopholes or missing parts that I could incorporate into
    the design.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/userflow/userflow2.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/userflow/userflow2.jpg">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    Some users didn’t understand the concept of Tempo <span class="pavi-font-underline">syncing tracks</span> from
    Spotify. I decided to make the request for access more clearly in the manner of a notification. Users above the
    age of 50 didn’t understanding the <span class="pavi-font-underline">marker tool</span>, so this was introduced
    earlier during <span class="pavi-font-underline">onboarding</span> to address that
    concern.
</div>

<div class="pavi-font pavi-paragraph">
    Based on the user flows, I constructed the <span class="pavi-font-underline">information architecture</span> and
    <span class="pavi-font-underline">paper prototypes</span> to ensure there was minimum difficulty to access
    playlists, tracks, etc.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/prototype/paper-prototype1.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/prototype/paper-prototype1.jpg">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    As I began to explore the <span class="pavi-font-underline">user interface</span> and <span
        class="pavi-font-underline">visual design</span>, I used a variety of media such as pen and paper, Sketch and
    Illustrator in order have <span class="pavi-font-underline">rapid iterations</span> on a wide variety of ideas. It
    was important that this app will remain
    familiar enough to users.
</div>

<div class="pavi-main-flex-container">

    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe1.jpg">
        <img class='pavi-main-image'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe1.jpg">
    </a>

    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe2.jpg">
        <img class='pavi-main-image'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe2.jpg">
    </a>

</div>

<div class="pavi-text-center pavi-image-margin-top">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe3.jpg">
        <img class='pavi-image pavi-image-width-wireframe3'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/wireframe/wireframe3.jpg">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Naming</div>

<div class="pavi-font pavi-paragraph">
    Dance + Music
</div>

<div class="pavi-font pavi-paragraph">
    I was already familiar that “<span class="pavi-font-underline">Tempo</span>” is a term used in both, which reminds
    someone of keeping up with the rhythm.
</div>

<div class="pavi-font pavi-paragraph">
    However, the logo was a challenge. I was trying to keep it close to the brand and not make it too detailed. It
    should be something people will <span class="pavi-font-underline">easily remember</span> and relate to, similar to
    Sony and Spotify.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/name/naming.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/name/naming.jpg">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">User Interface Design</div>

<div class="pavi-font pavi-paragraph">
    The objective of the interface was to keep the app unique, sleek with a similarity to music players. This was
    accomplished through use of thin strokes, vibrant gradients, and retro icons.
</div>

<div class="pavi-font pavi-paragraph">
    The background is a dark blue/grey gradient, which stays consistent. This was complemented by a neon light
    green/blue/yellow gradient, which appears on the music player and accents (icons, library). My inspiration for
    colours came from a concert I attended.
</div>

<div class="pavi-font pavi-paragraph">
    I chose the font Montserrat, which is close to Spotify’s font-set to maintain the familiarity.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/moodboard.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/moodboard.jpg">
    </a>
</div>

<div class="pavi-text-center pavi-image-margin-top">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/style-tile.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/branding/style-tile.jpg">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    The navigation between the primary screens uses a left/right swipe and tap interaction, which is very similar to
    apps such as Spotify and Youtube. The colours and iconography set a youthful, vibrant tone.
</div>

<div class="pavi-main-flex-container">

    <div class="pavi-shots-image">
        <a class="pavi-anchor-default" title="Enlarge" target="_blank"
           href="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot1.jpg">
            <img class='pavi-main-image'
                 src="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot1.jpg">
        </a>
        <div class="pavi-shots-image-text pavi-font">
            It’s pleasant for users to eliminate creating another app account, hence they’re given the option of signing
            up with
            facebook or email.
        </div>
    </div>


    <div class="pavi-shots-image">
        <a class="pavi-anchor-default" title="Enlarge" target="_blank"
           href="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot2.jpg">
            <img class='pavi-main-image'
                 src="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot2.jpg">
        </a>
        <div class="pavi-shots-image-text pavi-font">
            Users can easily sync their tracks with a simple tap without having to exit the app.
        </div>
    </div>

    <div class="pavi-shots-image">
        <a class="pavi-anchor-default" title="Enlarge" target="_blank"
           href="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot3.gif">
            <img class='pavi-main-image'
                 src="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot3.gif">
        </a>
        <div class="pavi-shots-image-text pavi-font">
            It’s pleasant for users to eliminate creating another app account, hence they’re given the option of signing
            up with
            facebook or email.
        </div>
    </div>


</div>

<div class="pavi-text-center pavi-image-margin-top">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot4.jpg">
        <img class='pavi-image pavi-image-width-full pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/tempo/shots/shot4.jpg">
    </a>
    <div class="pavi-shots-image-text pavi-font pavi-image-max-width-650 pavi-margin-center">
        Users can easily move from the player screen in to the marker tool, to mark their tracks. Using the tap gesture,
        they can section the track for rehearsals, which auto-saves and replays upon request.
    </div>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Outcome</div>

<div class="pavi-font pavi-paragraph">
    While the app is yet to be developed, it was well received with prospective users. They appreciated the interface
    and the onboarding, which gave them more comfort with the app. I learned that <span class="pavi-font-underline">user research</span>
    and <span class="pavi-font-underline">feedback</span> is best to
    receive earlier in the project as it really helps the overall flow and increases confidence in the solution.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Learnings</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-numbered">
        <li>
            I first had 3 features on the bottom navigation bar. However, it seemed redundant and confusing to have a
            separate player and marker tab. It would make more sense to access the marker tool while the track is
            playing. This was minimized to to 2 icons.
        </li>
        <li>
            The marker tool was originally meant to be a splice. Discussing with my mentor (Ahmad), I later understood
            that with a splice tool, the problem of organizing splices would arise. Hence, I used inspiration from an
            app, Traktr, and decided on a marker tool that will allow the users to cue their music

        </li>
    </ul>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Future Considerations</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-numbered">
        <li>Integration of Siri’s API into the voice recognition part of Tempo.</li>
        <li>Countdown and having the app respond to dancer, similar to how a choreographer uses cues.</li>
    </ul>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Resources</div>

<div class="pavi-font pavi-paragraph">

    <ul class="pavi-ul-numbered">
        <li><a target="_blank" href="https://www.amazon.ca/Hooked-How-Build-Habit-Forming-Products-ebook/dp/B00HJ4A43S">Hooked
            by Nir Eyal</a></li>
        <li><a target="_blank"
               href="https://www.amazon.ca/Talent-Overrated-Separates-World-Class-Performers/dp/1591842948">Talent is
            Overrated by Geoff Colvin</a></li>
        <li><a target="_blank" href="https://www.amazon.com/Oxford-Handbook-Dance-Reenactment-Handbooks/dp/0199314209">The
            Oxford Handbook of Dance and Reenactment by Mark Franko</a></li>
        <li>Mentors (<a target="_blank" href="http://www.ammad.design/">Ammad</a>, <a target="_blank"
                                                                                      href="https://ahmadkadhim.com/">Ahmad</a>,
            <a target="_blank" href="http://www.patrykadamczyk.com/">Patryk</a>, <a target="_blank"
                                                                                    href="http://dakodareid.com/">Dakoda</a>)
        </li>
    </ul>
</div>


{{ end }}