{{ define "main" }}

<div class="pavi-text-center pavi-main-margin">
    <img class='pavi-image pavi-image-width-hikr'
         src="{{ $.Site.BaseURL }}images/portfolio/hikr/hikrlogo.png">
</div>

<table class="pavi-table-border pavi-font">
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Website</td>
        <td>
            <a target='_blank' href='http://www.danabendavid.wixsite.com/mysite-3'>
                danabendavid.wixsite.com/mysite-3
            </a>
        </td>
    </tr>
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Role</td>
        <td>
            Wireframing and Visual Design
        </td>
    </tr>
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Team</td>
        <td>
            Dana Ben David
        </td>
    </tr>
</table>

<div class="pavi-font pavi-paragraph">
HIKR is a social ridesharing platform for long distance carpooling. It connects you with travellers within your network and will help save money on transportation by pairing you with others whom are taking the same route.
</div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr1.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr1.png'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr2.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr2.png'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr3.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr3.png'>
    </a>

</div>

<div class="pavi-font pavi-paragraph">
The founder of HIKR came up with the idea after a series of long and expensive commutes from Toronto to Montreal. After spending hundreds of dollars on tickets, she learned that some of her friends had done the exact same trip, but from the comfort of their own car.
</div>

<div class="pavi-font pavi-paragraph">
If only there was an app that gathered drivers and passengers within the same network and connected them to form safe carpools...
</div>

<div class='pavi-main-flex-container'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr4.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr4.png'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr5.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr5.png'>
    </a>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr6.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr6.png'>
    </a>

</div>

<div class="pavi-font pavi-paragraph">
    Together we determined the scope of the project by coming up with an MVP which comprised of the main actions the user can take either as a driver or hiker. I was responsible for the visual design of the app, illustration and layout.
</div>

<div class='pavi-main-flex-container pavi-paragraph'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/sketch.jpg'>
        <img class='pavi-main-image pavi-image-height-large'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/sketch.jpg' alt='sketch'>
    </a>

</div>

<div class='pavi-main-flex-container pavi-paragraph'>

    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr_moodboard.png'>
        <img class='pavi-main-image pavi-image-height-medium'
             src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikr_moodboard.png' alt='moodboard'>
    </a>

</div>

<div class='pavi-paragraph pavi-text-center'>
    <iframe width="625" height="515" src="https://www.youtube-nocookie.com/embed/kj92lU79n6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{{ end }}
