body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.pavi-hover-invert {
    filter: invert(0%);
    transition: -webkit-filter 0.5s, filter 0.5s;
}

.pavi-hover-invert:hover {
    filter: invert(100%);
}

.pavi-margin-bottom-20px {
    margin-bottom: 20px;
}

.pavi-portfolio-sticky-header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: solid 3px rgba(210, 215, 211, 0.4);
    padding-top: 1px;
    padding-bottom: 15px;
    box-shadow: 0 8px 6px -6px rgba(210, 215, 211, 0.4);
    margin-bottom: 30px;
}

.pavi-active-tab {
    background-color: #6fffd699;
    padding: 6px;
    border-radius: 6px;
    border-bottom: none;
    font-weight: bold;
}

.pavi-font.pavi-font.pavi-font {
    font-size: 18px;
    color: rgba(17, 17, 17, 0.7);
}

.pavi-section {
    padding-top: 25px !important;
    margin-top: 5px !important;
}

.pavi-row {
    margin-bottom: 35px !important;
}

.pavi-portfolio-header-font {
    font-size: 28px;
    color: rgba(17, 17, 17, 0.7);
    font-weight: bold;
}

.pavi-portfolio-header-margin {
    margin-top: 14px;
    margin-bottom: 14px;
}

.pavi-anchor-default {
    border-bottom: none !important;
    color: transparent !important;
}

.pavi-main-font {
    font-weight: bold;
    font-size: 22px;
    color: rgba(17, 17, 17, 0.7);
}

.pavi-font-underline {
    text-decoration: underline;
}

.pavi-font-bold {
    font-weight: bold;
}

.pavi-main-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pavi-main-image {
    flex-shrink: 1;

    height: auto;
    width: auto;

    max-height: 400px;
    border-radius: 30px;
    margin: 5px auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    padding: 5px;
}

.pavi-shots-image {
    flex-shrink: 1;
    max-width: 225px;
    padding: 5px;
}

.pavi-divider {
    border-bottom: solid 3px rgba(210, 215, 211, 0.4);
    margin-top: 50px;
    margin-bottom: 50px;
}

.pavi-shots-image-text {
    padding-left: 18px;
    font-size: 16px !important;
    line-height: 2;
}

.pavi-main-flex-container {
    display: flex;
    align-content: center;
    align-items: start;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.pavi-display-table {
    display: table;
}

.pavi-table-border {
    border: solid 1px #efefef;
}

.pavi-table-header-border {
    border-right: solid 1px #efefef;
}

.pavi-media {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    background-color: rgba(210, 215, 211, 1);
}

.pavi-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pavi-ul-numbered {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    padding-left: 18px;
}

.pavi-ul-circle {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
}

.pavi-ul-numbered, .pavi-ul-circle {
    margin-bottom: 0;
}

.pavi-anchor-remove {
    border: none;
    transition: unset;
    color: transparent;
}

.pavi-ul-numbered li,
.pavi-ul-circle li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pavi-image {
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pavi-image-width-full {
    width: 100%;
}

.pavi-image-width-bolt {
    width: 100%;
    max-width: 500px;
}

.pavi-image-width-persona {
    width: 100%;
    max-width: 300px;
}

.pavi-image-max-width-650 {
    max-width: 650px !important;
    width: 100%;
}

.pavi-image-margin-top {
    margin-top: 30px;
}

.pavi-image-width-wireframe3 {
    width: 100%;
    max-width: 600px;
}

.pavi-persona-image {
    border: solid 3px rgba(210, 215, 211, 0.4);
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pavi-gif {
    border-radius: 30px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pavi-text-center {
    text-align: center;
}

.pavi-margin-center {
    margin-left: auto !important;
    margin-right: auto !important;
}
