{{ "<!-- Header -->" | safeHTML }}

<header id='header'>
    <div id='pavi-js-particles' class='pavi-particle'></div>

    <a href='{{ .Site.BaseURL }}' title='Rainbow!' class='image avatar pavi-hover-invert'>
        <img src='{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}' alt=''/></a>
    {{ with .Site.Params.sidebar.bio }}
    <h1>{{ . | markdownify }}</h1>
    {{ end }}

    <nav id='sidebar'>
        <ul>
            <li><a href='/'>Work</a></li>
            <li><a target='_blank' href='https://medium.com/@pavilogeswa'>Blog</a></li>
            <li><a href='/about/me'>About</a></li>
        </ul>
    </nav>

</header>
