{{ "<!-- portfolio -->" | safeHTML }}
<section>

    <section>
        <div class='row'>

            <article class='6u 12u$(xsmall) work-item'>
                <a href='{{ $.Site.BaseURL }}portfolio/capone/main'
                   title='Capital One'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/capone/cap1logo.png' alt='Capital One'/>
                </a>
                <h3>Capital One</h3>
                <p class='pavi-portfolio-article-text'>Helping customers self-serve their banking needs online.</p>
            </article>

            <article class='6u 12u$(xsmall) work-item'>
                <a href='{{ $.Site.BaseURL }}portfolio/takahashi/main'
                   title='Takahashi'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/takahashi/takahashilogo.png' alt='Takahashi'/>
                </a>
                <h3>Takahashi Legend Care</h3>
                <p class='pavi-portfolio-article-text'>Assisted living residential home for the elderly.</p>
            </article>

            <article class='6u 12u$(xsmall) work-item'>
                <a href='{{ $.Site.BaseURL }}portfolio/kaur/main'
                   title='Kaur Space'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/kaur/kaurspacelogo.png' alt='Kaur Space'/>
                </a>
                <h3>Kaur Space</h3>
                <p class='pavi-portfolio-article-text'>A shared learning space for today's modern workforce.</p>
            </article>

            <article class='6u 12u$(xsmall) work-item'>
                <a title='Hikr Project'
                   href='{{ $.Site.BaseURL }}portfolio/hikr/main'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/hikr/hikrlogo.png'
                         alt='Hikr'/>
                </a>
                <h3>Hikr</h3>
                <p class='pavi-portfolio-article-text'>A long distance rideshare app.</p>
            </article>

            <article class='6u 12u$(xsmall) work-item'>
                <a href='{{ $.Site.BaseURL }}portfolio/tempo/pitch'
                   title='Tempo Project'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/tempo/tempointro.jpg' alt='Tempo'/>
                </a>
                <h3>Tempo</h3>
                <p class='pavi-portfolio-article-text'>An iOS app assisting dancers with rehearsals using voice commands.</p>
            </article>

            <article class='6u 12u$(xsmall) work-item'>
                <a href='{{ $.Site.BaseURL }}portfolio/bolt/main'
                   title='Bolt Project'
                   class='image fit thumb'>
                    <img src='{{ $.Site.BaseURL }}images/portfolio/bolt/boltintro.jpg' alt='Bolt'/>
                </a>
                <h3>Bolt</h3>
                <p class='pavi-portfolio-article-text'>Brand concept for dogs' outdoor equipment.</p>
            </article>

        </div>
    </section>

</section>
