{{ "<!-- portfolio -->" | safeHTML }}
<section>
    <!-- todo: remove -->
    <!--{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}-->

    <h2 id='portfolio-section' class='pavi-margin-bottom-20px'>Recent Work</h2>

    <section>
        <div class="row">

            <article class="6u 12u$(xsmall) work-item">
                <a href="{{ $.Site.BaseURL }}portfolio/tempo/pitch"
                   title='Tempo Project'
                   class="image fit thumb">
                    <img src="{{ $.Site.BaseURL }}images/portfolio/tempo/tempointro.jpg" alt="Tempo" />
                </a>
                <h3>Tempo</h3>
                <p>An iOS app assisting dancers with rehearsals using voice commands.</p>
            </article>

            <article class="6u 12u$(xsmall) work-item">
                <a href="{{ $.Site.BaseURL }}portfolio/bolt/main" class="image fit thumb">
                    <img src="{{ $.Site.BaseURL }}images/portfolio/bolt/boltintro.jpg" alt="Bolt" />
                </a>
                <h3>Bolt</h3>
                <p>Brand concept for dogs' outdoor equipment.</p>
            </article>

            <article class="6u 12u$(xsmall) work-item">
                <a target='_blank' href="https://medium.com/@pavilogeswa/monument-valley-puzzle-extension-39098e69df47"
                    class="image fit thumb">
                    <img src="{{ $.Site.BaseURL }}images/portfolio/puzzle-extension/mvintro.jpg"
                         alt="Puzzle Extension" />
                </a>
                <h3>Puzzle Extension</h3>
                <p>Onboarding experience in a consumer-to-consumer platform.</p>
            </article>

        </div>
    </section>

</section>
