<!-- todo: remove -->
<!--<section>-->
    <!--{{ with .Site.Params.recentposts.title }}-->
        <!--<h2>{{ . }}</h2>-->
    <!--{{ end }}-->

	<!--<div class="row">-->
        <!--<br>-->
        <!--<p>-->
        <!--<ol class="recent-posts">-->
        <!--{{ range first 5 (where .Data.Pages "Section" "post") }}-->
            <!--<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>-->
        <!--{{ end }}-->
        <!--</ol>-->
        <!--</p>-->
	<!--</div>-->
<!--</section>-->

<section class="pavi-section">
    <h2 class="pavi-margin-bottom-20px">Recent blog posts</h2>
    <div class="row pavi-row">
        <ol class="recent-post">
            <li>
                <a target="_blank" href="https://medium.com/@pavilogeswa/codeacross-toronto-2018-civic-tech-hackathon-a6b24176e4">
                    CodeAcross Toronto 2018
                </a>
            </li>
        </ol>
    </div>

</section>