{{ define "main" }}

<h2 class="pavi-margin-bottom-20px">Visual</h2>


<h4 class="pavi-margin-bottom-20px">UI Design Challenge</h4>

<div id="pavi-js-visual-poptrox" class="pavi-visual-grid pavi-js-poptrox">

    <!-- daily ui 20 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/Location_tracker.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/Location_tracker.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 20<br>
            Location Tracker
        </div>

    </a>

    <!-- daily ui 19 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/scoreboard.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/scoreboard.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 19<br>
            Leaderboard
        </div>

    </a>


    <!-- daily ui 18 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/analytics.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/analytics.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 18<br>
            Analytics Chart
        </div>

    </a>

    <!-- daily ui 17 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/email_receipt.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/email_receipt.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 17<br>
            Email Receipt
        </div>

    </a>

    <!-- daily ui 16 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/pop_up_overlay.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/pop_up_overlay.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 16<br>
            Pop-Up / Overlay
        </div>

    </a>

    <!-- daily ui 15 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/on_off_switch.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/on_off_switch.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 15<br>
            On/Off Switch
        </div>

    </a>

    <!-- daily ui 14 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/countdown_timer.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/countdown_timer.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 14<br>
            Countdown Timer
        </div>

    </a>

    <!-- daily ui 13 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/chat.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/chat.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 13<br>
            Direct Messaging
        </div>

    </a>

    <!-- daily ui 12 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/ecommerce_purchase.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/ecommerce_purchase.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 12<br>
            Single Product
        </div>

    </a>

    <!-- daily ui 11 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/successfail.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/successfail.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 11<br>
            Flash Messages
        </div>

    </a>

    <!-- daily ui 10 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/social.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/social.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 10<br>
            Social Share
        </div>

    </a>

    <!-- daily ui 9 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/listener_playing_state.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/listener_playing_state.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 9<br>
            Music Player
        </div>

    </a>


    <!-- daily ui 8 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/error.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/error.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 8<br>
            404 Page
        </div>

    </a>

    <!-- daily ui 7 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/settings.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/settings.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 7<br>
            Settings
        </div>

    </a>

    <!-- daily ui 6 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/profile.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/profile.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 6<br>
            Profile
        </div>

    </a>

    <!-- daily ui 5 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/app_icon_bolt.png"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/app_icon_bolt.png)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 5<br>
            App Icon
        </div>

    </a>

    <!-- daily ui 4 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/calculator.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/calculator.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 4<br>
            Calculator
        </div>

    </a>

    <!-- daily ui 3 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/ecommerce.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/ecommerce.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 3<br>
            Landing Page
        </div>

    </a>


    <!-- daily ui 2 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/Desktop_HD.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/Desktop_HD.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 2<br>
            Checkout Page
        </div>

    </a>

    <!-- daily ui 1 -->
    <a class="pavi-visual-item pavi-visual-item-medium"
       href="{{ $.Site.BaseURL }}images/visual/Desktop.jpg"
       style="background-image: url({{ $.Site.BaseURL }}images/visual/Desktop.jpg)">

        <div class="pavi-visual-item-details">
            UI Design Challenge Day 1<br>
            Sign Up Page
        </div>

    </a>


</div>


{{ end }}
