{{ define "main" }}

<div class="pavi-text-center pavi-main-margin">
    <img class='pavi-image pavi-image-width-hikr'
         src="{{ $.Site.BaseURL }}images/portfolio/takahashi/takahashilogo.png">
</div>

<table class="pavi-table-border pavi-font">
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Website</td>
        <td>
            <a target='_blank' href='http://www.tlcare.com.my/'>
                tlcare.com.my
            </a>
        </td>
    </tr>
    <tr>
        <td class="pavi-table-header-border pavi-font-bold">Role</td>
        <td>Brand Development & Execution</td>
    </tr>
</table>

<div class='pavi-font pavi-paragraph'>
    Developing a compelling brand and online experience for a purpose-built assisted living residential home for the elderly.
</div>

<div class='pavi-font pavi-paragraph'>
  Working in collaboration with Takahashi Legend Care, we designed comprehensive launch tools consisting of a brand identity, logo and website for the new home for the elderly. The purpose was to promote and introduce the new home to residents. As a result, the created tools reflect the approach of Takahashi Legend Care while engaging new residents to enroll.
</div>

<div class='pavi-main-flex-container'>
    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/takahashi/logodesign.png'>
        <img class='pavi-main-image'
             src='{{ $.Site.BaseURL }}images/portfolio/takahashi/logodesign.png'>
    </a>
</div>

<div class='pavi-main-flex-container'>
    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/takahashi/colours_and_text.png'>
        <img class='pavi-main-image pavi-image-height-large'
             src='{{ $.Site.BaseURL }}images/portfolio/takahashi/colours_and_text.png'>
    </a>
</div>

<div class='pavi-font pavi-paragraph'>
    I helped create the Takahashi Legend Care identity – starting with a brand strategy that reflected the caring and supportive environment in the home. I used imagery and colours to launch a new identity that helps new residents feel that they’re in their own homes.
</div>

<div class='pavi-main-flex-container pavi-paragraph'>
    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='{{ $.Site.BaseURL }}images/portfolio/takahashi/ltrandcard.png'>
        <img class='pavi-main-image pavi-image-height-large'
             src='{{ $.Site.BaseURL }}images/portfolio/takahashi/ltrandcard.png'>
    </a>
</div>

<div class='pavi-main-flex-container pavi-paragraph'>
    <a class='pavi-anchor-remove'
       title='Enlarge'
       target='_blank'
       href='http://www.tlcare.com.my/'>
        <img class='pavi-main-image pavi-image-height-large'
             style='box-shadow: unset'
             src='{{ $.Site.BaseURL }}images/portfolio/takahashi/website.png'>
    </a>
</div>

{{ end }}
