{{ define "main" }}

<div class="pavi-portfolio-sticky-header">

    <div class="pavi-text-center pavi-font-family pavi-portfolio-header-margin">
        <span class="pavi-font-underline pavi-portfolio-header-font">Bolt</span>
    </div>

</div>

<div class="pavi-text-center pavi-main-margin">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_bolt.jpg">
        <img class='pavi-image pavi-image-width-bolt'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_bolt.jpg">
    </a>
</div>

<div class="pavi-main-font">Design Challenge</div>

<div class="pavi-font pavi-paragraph">
    The client was starting a new outdoors equipment brand, this could be anything from camping to survival gear.
</div>

<div class="pavi-font pavi-paragraph">
    They wanted the company to feel:
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-circle">
        <li>
            Simple, reliable, aspirational and established.
        </li>
        <li>
            Been around since 1950s and 60s.
        </li>
    </ul>
</div>

<div class="pavi-font pavi-paragraph">
    I had to help them identify ways to differentiate and provide some style directions.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">My Role</div>

<div class="pavi-font pavi-paragraph">
    I was responsible for coordinating all design processes, this includes: competitive analysis, style tiles, icons and
    graphics, colour and emotive response, personality, and style guide.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Competitive Analysis</div>

<div class="pavi-font pavi-paragraph">
    There are many competitors for camping and survival gear such as MEC, Pantagonia, Canadian Tire, etc. However, there
    aren’t enough companies out there for <span class="pavi-font-underline">dogs</span>. So I decided to take this
    project in a different direction.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/competitors.jpg">
        <img class='pavi-image pavi-image-max-width-650'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/competitors.jpg">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    I looked at various competitors for dogs’ outdoor gear. They were analyzed and ranked in terms of price, ads,
    product variation, UI. They were all very strong in variety of products. Yet, their focus was too wide, and they
    were not targeting a <span class="pavi-font-underline">particular niche</span>. The biggest players, were Ruffwear
    and PetSmart.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/chart.png">
        <img class='pavi-image pavi-image-width-full'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/chart.png">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    Customer Reviews:
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-circle">
        <li>
            Customers are unable to find <span class="pavi-font-underline">long term gear</span> for their dogs.
        </li>
        <li>
            Gear does not last through <span class="pavi-font-underline">severe weather</span> conditions.
        </li>
        <li>
            Unable to take dogs on <span class="pavi-font-underline">rigorous outdoor adventures</span>.
        </li>
    </ul>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">User Persona</div>

<!--<div class="pavi-text-center">-->
<!--<a class="pavi-anchor-default" title="Enlarge" target="_blank"-->
<!--href="{{ $.Site.BaseURL }}images/portfolio/bolt/susan.jpg">-->
<!--<img class='pavi-image pavi-image-max-width-650'-->
<!--src="{{ $.Site.BaseURL }}images/portfolio/bolt/susan.jpg">-->
<!--</a>-->
<!--</div>-->

<div class="pavi-font pavi-paragraph">
    Susan
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-circle">
        <li>
            Susan is active, owns a fit bit.
        </li>
        <li>
            Susan is in her 20s.
        </li>
        <li>
            Susan likes to take her dog out on extreme outdoor adventures.
        </li>
        <li>
            Susan is unable to find outdoor gear that's durable for her dog.
        </li>
    </ul>
</div>

<!--<div class="pavi-text-center">-->
<!--<a class="pavi-anchor-default" title="Enlarge" target="_blank"-->
<!--href="{{ $.Site.BaseURL }}images/portfolio/bolt/roger.jpg">-->
<!--<img class='pavi-image pavi-image-max-width-650'-->
<!--src="{{ $.Site.BaseURL }}images/portfolio/bolt/roger.jpg">-->
<!--</a>-->
<!--</div>-->

<div class="pavi-font pavi-paragraph">
    Roger
</div>

<div class="pavi-font pavi-paragraph">
    <ul class="pavi-ul-circle">
        <li>
            Roger has a dog whom he’s training for service.
        </li>
        <li>
            Roger is in his 30s.
        </li>
        <li>
            Roger is extremely active and trains rigorously his dog.
        </li>
    </ul>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Business Model</div>

<div class="pavi-font pavi-paragraph">
    Based on reviews and personas, we wanted to focus on <span class="pavi-font-underline">material quality, reliability and durability</span>.
    We want dogs to feel comfortable and owners to be able to customize gear according to needs.
</div>

<div class="pavi-font pavi-paragraph">
    We decided to target a <span class="pavi-font-underline">niche</span> of young and older adults who are physically
    fit and engage their dogs in various
    outdoor activities.
</div>

<div class="pavi-text-center pavi-main-margin">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/business_model_canvas.png">
        <img class='pavi-image pavi-image-width-full'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/business_model_canvas.png">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Mood Boards</div>

<div class="pavi-font pavi-paragraph">
    I wanted the brand to feel bold, strong, powerful and aspirational. The images I’ve chosen here reflect that.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/moodboard.jpg">
        <img class='pavi-image pavi-image-width-full'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/moodboard.jpg">
    </a>
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Sketches</div>

<div class="pavi-font pavi-paragraph">
    It was important that this brand felt <span class="pavi-font-underline">strong and reliable</span>. It should be a
    name that people will remember and instantly associate with. I though of <span
        class="pavi-font-underline">Bolt</span> as it conveyed a very strong personality.
</div>

<div class="pavi-font pavi-paragraph">
    As a brand, I wanted the logo to be <span class="pavi-font-underline">sharp</span> and <span
        class="pavi-font-underline">bold</span>. Thinking about the name, Bolt, and the product being made for dogs, I
    decided to use a silhouette of a strong dog and surrounding it by a fastening bolt. I used thicker strokes for the
    icons and kept them familiar to the user.
</div>

<div class="pavi-main-flex-container">

    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_sketch1.jpg">
        <img class='pavi-main-image'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_sketch1.jpg">
    </a>

    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_sketch2.jpg">
        <img class='pavi-main-image'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/logo_sketch2.jpg">
    </a>

</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Style Tile</div>

<div class="pavi-font pavi-paragraph">
    The colour inspiration came from a shot I saw on dribble that screamed power. I wanted the overall feel to be
    <span class="pavi-font-underline">fierce, confident and iconic</span>. The sharp edges on the logo and colour
    palette helped express it. I used simple fonts
    such as <span class="pavi-font-underline">Constantia</span> and <span class="pavi-font-underline">Avenir</span> to
    ensure that it doesn’t distract what the brand exudes.
</div>

<div class="pavi-text-center">
    <a class="pavi-anchor-default" title="Enlarge" target="_blank"
       href="{{ $.Site.BaseURL }}images/portfolio/bolt/style_tile.jpg">
        <img class='pavi-image pavi-image-width-full'
             src="{{ $.Site.BaseURL }}images/portfolio/bolt/style_tile.jpg">
    </a>
</div>

<div class="pavi-font pavi-paragraph">
    I made sure to keep this in mind as I built the style guide.
</div>

<div class="pavi-divider"></div>

<div class="pavi-main-font">Outcome</div>

<div class="pavi-font pavi-paragraph">
    I learned that my <span class="pavi-font-underline">competitive analysis</span> and <span
        class="pavi-font-underline">customer review</span> analysis helped shape my overall direction for this project.
    I found that taking the time to dig deeper into <span class="pavi-font-underline">research</span> (finding a needle
    in a haystack) empowers a unique approach. It was motivating to see how the project came together with the logo,
    icons, graphics and colour palette.
</div>

<div data-configid="31260821/58226728" style="width:100%; height:700px;" class="issuuembed"></div>
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>


{{ end }}